$body-bg: #eff4f6;

$blue: #2ba7ef;
$red: #990000;
$yellow: #ffba08;
$pink: #d8315b;
$green: rgb(41, 181, 106);
$cyan: rgb(41, 231, 218);
$secondary: #103d57;
$dark: #666666;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body,
html {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}