<div class="container-fluid h-100 bg-secondary">
  <div class="row h-100">

    <div class="col p-0">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand mr-auto"
          href="#">Kanban</a>

        <span class="mr-4">{{us.user.username}}</span>

        <button class="btn btn-sm btn-dark"
          (click)="logout()">
          Logout
        </button>

      </nav>

      <kanban-board [lists]="lists"
        (onAddList)="addList($event)"
        (onRemoveList)="removeList($event)"></kanban-board>

    </div>

  </div>

</div>